body {
  margin: 1em;
  background-color: #E1EAF6;
}

.container {
  width: 35%;
}

span {
  font-size: 15px;
}

button {
  background: #70A9F4;
  color: white;
  margin: 20px 0;
}

#btns {
  text-align: right;
}

.form-control {
  margin: 20px 0;
}

.dropdown-format {
  display: block;
  margin: 20px 0 0 0;
}
.el-select.is-multiple .el-input {
  width: 100%;
}